
@import "tailwindcss";

#root {
  max-width: 100vw;
  text-align: center;
  min-height: 100vh;
  margin: 0 auto;

}

#site-wrapper{
  min-height: 100vh;
  width:100vw;
  display:grid;
  grid-template-areas: 
  "nav"
  "main"
  "footer";
grid-template-rows: 60px 1fr 40px;
grid-template-columns: 1fr;
height: 100vh;
margin: 0;
}

#pageNav{
  grid-area:nav;
  
  }
  
  #pageMain{
  grid-area:main;
  }
  
  #pageFooter{
  grid-area: footer;
  }
  